<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="/static/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <title>LJ Brownies Recipe</title>
    <style>
        a {
            color: #4a4a4a;
        }

        li {
            list-style-type: none;
        }

        body {
            background-color: #fbfde1;
        }

        .list-group-item {
            background-color: #fbfde1;
        }

        .audio_description {
            margin-top: 0.5em;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row text-center">
            <h1 style="margin-top: 1em;">LJ Brownies</h1>
            <div class="col-md-8 offset-md-2">
                <p class="lead">
                    This is a quick and delicious recipe for brownies that Jean would whip up for a quick treat for
                    Bridge Club, to take to a friend on the mend or for a visitor. She didn’t enjoy cooking but
                    these brownies were a quick crowd pleaser.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <strong style="margin-top: 0.5em">Ingredients</strong>
                <ul>
                    <li>1 stick butter</li>
                    <li>1 cup sugar</li>
                    <li>2 eggs</li>
                    <li>½ cup flour</li>
                    <li>½ cup cocoa powder</li>
                </ul>
                <strong style="margin-top: 0.5em">Instructions</strong>
                <ol>
                    <li>Preheat the oven to 300 degrees.</li>
                    <li>Butter and flour a 8x8 pan.</li>
                    <li>In a large bowl or mixer: cream butter and sugar together.</li>
                    <li>Add eggs and mix.</li>
                    <li>Mix in flour and cocoa powder.</li>
                    <li>Pour into baking dish</li>
                    <li>Bake for 20-25 mins - they are ready when a knife comes out clean.</li>
                </ol>
                <strong style="margin-top: 0.5em">Optional Additions</strong>
                <ul>
                    <li>Peanut butter swirled into the top</li>
                    <li>Chocolate Chips (PB chips or butterscotch chips)</li>
                    <li>Nuts of your choice</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center" style="margin-top: 1em;">
            <img src="/static/media/young_jean.jpg" class="img-fluid rounded" alt="Jean Walker">
        </div>
        <!-- <img src="/static/daisy.png" class="img-fluid rounded" alt="Jean Walker"> -->
    </div>
</body>

</html>