<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="/static/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <title>Memories of Jean Walker</title>
  <style>
    li {
      list-style-type: none;
    }
    body {
      background-color: #fbfde1;
    }
    .list-group-item {
      background-color: #fbfde1;
    }
  </style>
</head>

<body>
  <div class="container-fluid text-center">
    <div class></div>
    <h1 style="margin-top: 1em;">Memories of Jean Walker</h1>
    <img src="/static/media/jean.jpg" class="img-fluid rounded" alt="Jean Walker">
    <h3 style="margin-top: 0.5em">Recipes</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/static/lj_brownies.png">LJ
          Brownies</a></li>
    </ul>

    <h3 style="margin-top: 1em;">Audio Recordings</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/static/media/Jean_Walker_Life_in_Review.mp3">Jean Walker: Life
          in Review</a>
        <span class="badge bg-secondary-subtle">4:04</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Rachels_Introduction.mp3">Rachel's
          Introduction</a>
        <span class="badge bg-secondary-subtle">2:08</span>
      </li>

      <li class="list-group-item"><a href="/static/media/Story_of_the_Yellow_Dresses.mp3">
          Story of the Yellow Dresses</a>
        <span class="badge bg-secondary-subtle">3:39</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Stories_about_Alice_and_Ed.mp3">
          Stories about Alice and Ed</a>
        <span class="badge bg-secondary-subtle">19:05</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Mary_Montags_Story.mp3">Mary
          Montag's Story</a>
        <span class="badge bg-secondary-subtle">24:34</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Mary_Montags_Epic_Travels.mp3">Mary's Epic Travels</a>
        <span class="badge bg-secondary-subtle">58:17</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Visiting_Tom_Montags_Grave.mp3">
          Visiting Tom Montag's Grave</a>
        <span class="badge bg-secondary-subtle">5:51</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Alice_Montag_and_Cars.mp3">Alice
          Montag and Cars</a>
        <span class="badge bg-secondary-subtle">5:17</span>
      </li>
      <li class="list-group-item"><a href="/static/media/Jeans_Story.mp3">Jean's
          Story, Original Recording</a>
        <span class="badge bg-secondary-subtle">30:26</span>
      </li>
    </ul>

  </div>
  <div style="margin-top: 1em;">
    <img src="/static/media/young_jean.jpg" class="img-fluid rounded" alt="Jean Walker">
  </div>

  <!-- <img src="/static/daisy.png" class="img-fluid rounded" alt="Jean Walker"> -->
</body>

</html>