<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="/static/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>Memories of Jean Walker</title>
  <style>
    a {
      color: #4a4a4a;
    }

    li {
      list-style-type: none;
    }

    body {
      background-color: #fbfde1;
    }

    .list-group-item {
      background-color: #fbfde1;
    }

    .audio_description {
      margin-top: 0.5em;
    }
  </style>
</head>

<body>
  <div class="container-fluid text-center">
    <div class></div>
    <h1 style="margin-top: 0.5em;">Lois Jean Montag Walker</h1>
    <p class="lead">October 5, 1925 - December 25, 2022</p>
    <img src="/static/media/jean.jpg" class="img-fluid rounded" alt="Jean Walker">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">

            <h1>LJ Brownies</h1>

            <h5>This is a quick and delicious recipe for brownies that Jean would whip up for a quick treat for Bridge
              Club, to take to a friend on the mend or for a visitor. She didn’t enjoy cooking but these brownies were a
              quick crowd pleaser. <br><br><a href="/brownies.html">Click here for the
                recipe!</a></h5>
          </li>
        </ul>

        <h1 style="margin-top: 1em;">Audio Recordings</h3>
          <h5>
            In 2009, Rachel Newby Holmes, Jean’s oldest grandchild did a series of voice interviews with Jean and Mary
            Montag about their lives, adventures and family history.
          </h5>
          <p>Click or tap to listen. You may also download any recording by clicking the arrow icon next to it.</p>
          <ul class="list-group list-group-flush">
            {{ range $k, $v := . }}
            <li class="list-group-item">
              <a href="/static/media/{{ $v.Filename }}">
                {{ $v.Title }}
              </a> <span class="badge bg-secondary-subtle">{{ $v.Time }}</span>
              <a href="/download/{{ $v.Filename }}">
                <i class="bi bi-arrow-down-circle-fill"></i>
              </a>
              <p class="audio_description">
                {{ $v.Description }}
              </p>
            </li>
            {{ end }}
          </ul>
      </div>
    </div>
  </div>
  <div class="text-center" style="margin-top: 1em;">
    <img src="/static/media/young_jean.jpg" class="img-fluid rounded" alt="Jean Walker">
  </div>
  <!-- <img src="/static/daisy.png" class="img-fluid rounded" alt="Jean Walker"> -->
</body>

</html>